<form [formGroup]="questionsForm">
    <div class="modal-body">
        <select class="form-select" aria-label="Default select example" (change)="onChangeQType($event)"
            formControlName="QuestionType">
            <option>Checkbox</option>
            <option>Textarea</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="option" aria-describedby="option" placeholder="Add Question"
            formControlName="QuestionName">
    </div>
    <ng-container formArrayName="OptionsArray" *ngFor="let item of OptionsArray?.controls; let i = index">
        <ng-container [formGroupName]="i">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="option" placeholder="Add option"
                    formControlName="options">
            </div>
        </ng-container>
    </ng-container>
    <div class="form-group">
        <a (click)="addNewQOption()">Click to add new option</a>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="ck5" formControlName="ownAnswer">
        <label class="custom-control-label" for="ck5">Allow user to specify their own answer</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="ck6" formControlName="required">
        <label class="custom-control-label" for="ck6">This field is required</label>
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button>
</div>