<form [formGroup]="form" >
    <ng-container formArrayName="questions" *ngFor="let item of questions?.controls; let i = index;">
        <div class="form-group" [formGroupName]="i"> 
            <div class="form-group" *ngIf="currentType(item) === 'Textarea'">
                <label for="exampleInputEmail1">{{ questionName(item) }} <span *ngIf="required(item)">*</span></label>
                <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="textArea"></textarea>
            </div>
            
            <div *ngIf="currentType(item) === 'Checkbox'">
                <label for="exampleInputEmail1">{{ questionName(item) }} <span *ngIf="required(item)">*</span></label>
                <ng-container formArrayName="options" *ngFor="let option of options(item); let indexData = index;">
                    <div class="custom-control custom-checkbox" [formGroupName]="indexData">
                        <input type="checkbox" class="custom-control-input" [id]="optionIndex(i, indexData)" value="1" formControlName="option.controls.option">
                        <label class="custom-control-label" [for]="optionIndex(i, indexData)">{{ languageName(option, i, indexData) }}</label>
                        {{  opeion(option) }}
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <div>
        <a class="link-primary" (click)="openModal()">Add New Question</a>
        <button type="submit" class="btn btn-primary" (click)="save()">Review my answers ></button>
    </div>
</form>
