<form [formGroup]="builderForm">
    <div class="form-group">
        <ng-container *ngIf="data?.QuestionType == 'Textarea'">
            <ng-container formArrayName="textAreaArray" *ngFor="let item of textAreaArray?.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ item?.get('textAreaValues')?.value }}<span
                                *ngIf="required == true"> *</span></label>
                        <textarea type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="textArea"></textarea>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="data?.QuestionType == 'Checkbox'">
            <ng-container formArrayName="checkBoxArray" *ngFor="let item of checkBoxArray?.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="form-group">
                        <label for="exampleInputEmail">{{ item?.get('checkBoxValues')?.value }}<span
                                *ngIf="required == true"> *</span></label>
                        <textarea type="text" class="form-control" aria-describedby="emailHelp1"
                            formControlName="checkBox"></textarea>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div>
        <a class="link-primary" (click)="openModal()">Add New Question</a>
    </div>
</form>
<button (click)="clickSubmit()">Save</button>