<form [formGroup]="builderForm">
    <div class="form-group">
        <ng-container *ngIf="data?.QuestionType == 'Textarea'">
            <ng-container formArrayName="textAreaArray" *ngFor="let item of textAreaArray?.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ item?.get('textAreaValues')?.value }}<span
                                *ngIf="required == true"> *</span></label>
                        <textarea type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="textArea"></textarea>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="data?.QuestionType == 'Checkbox'">
            <ng-container formArrayName="checkBoxArray" *ngFor="let item of checkBoxArray?.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1"  formControlName="checkBox">
                        <label class="custom-control-label" for="customCheck1">{{ item?.get('checkBoxValues')?.value }}<span
                            *ngIf="required == true"> *</span></label>
                      </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div>
        <a class="link-primary" (click)="openModal()">Add New Question</a>
    </div>
</form>
<button (click)="clickSubmit()">Save</button>